body {
    margin-left:auto;
    margin-right:auto;
    padding:0;
    zoom:normal;
    width:1200px;
}
div {
    background-color: #000;
    border: 1px solid #f00;
    border-radius: 60px;
    width: 96%;
    overflow:hidden;
}