@font-face {
	font-family: Edwardian Script ITC;
	src: url('ITCEDSCR.TTF') format('truetype');
}

/*CSS Style*/
body {
    margin-top:50px;
    margin-left:20px;
    padding:0;
    font-family:Consolas;
    color:#0094ff;
}
h2, p {
    margin-top:5px;
    margin-bottom:15px;
     font-size:22px;
}
article {
    line-height:25px;
    font-size:20px;
}
h2::first-letter {
    font-family:"Edwardian Script ITC";
    font-size:57px;
}
